article.portfolio-item
    section.portfolio-item__container.portfolio-item__container_top
        .portfolio-item__col.portfolio-item__col_left
            h2.portfolio-item__title
            p.portfolio-item__text
        .portfolio-item__col.portfolio-item__col_right
            .portfolio-item__date
                .portfolio-item__subtitle
                .portfolio-item__date-text
            .portfolio-item__technologies
                .portfolio-item__subtitle
                .portfolio-item__technologies-text
            .portfolio-item__links
                .portfolio-item__subtitle
                a.portfolio-item__links-item(href="" target="_blank")
    section.portfolio-item__container.portfolio-item__container_bottom