    <div class="middle">
        <!--[if (gte mso 9)|(IE)]>
        <table width="600" align="center">
        <tr>
        <td>
        <![endif]-->
        <table class="outer" cellpadding="0" cellspacing="0">
            <tr>
                <td class="cover">
                    <a href="https://github.com/" target="_blank">
                        <img src="http://bit.ly/2q5Zk2C">[gus]
                    </a>
                </td>
            </tr>

            <!-- one column -->
            <tr>
                <td class="one-column content">
                    <div class="column">
                        <table width="100%" cellpadding="20" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="padding-bottom-big">&nbsp;</div>
                                    <div class="padding-bottom-big">&nbsp;</div>
                                    <div class="h1">Заголовок первого уровня</div>
                                    <div class="padding-bottom-big">&nbsp;</div>
                                    <div class="paragraph">Пример параграфа, который включает в себя <a href="https://github.com/" target="_blank">ссылку</a>.</div>
                                    <div class="padding-bottom">&nbsp;</div>
                                    <div class="h2">Заголовок первого уровня</div>
                                    <div class="padding-bottom-big">&nbsp;</div>
                                    <div class="paragraph">Создатели сайта называют GitHub «социальной сетью для разработчиков». Кроме размещения кода, участники могут общаться, комментировать правки друг друга, а также следить за новостями знакомых. С помощью широких возможностей Git программисты могут объединять свои репозитории &mdash; GitHub предлагает удобный интерфейс для этого и может отображать вклад каждого участника в виде дерева.</div>
                                    <div class="padding-bottom">&nbsp;</div>
                                    <div class="paragraph">Для проектов есть личные страницы, небольшие Вики и система отслеживания ошибок. Прямо на сайте можно просмотреть файлы проектов с подсветкой синтаксиса для большинства языков программирования. На платных тарифных планах можно создавать приватные репозитории, доступные ограниченному кругу пользователей.</div>
                                    <div class="padding-bottom-big">&nbsp;</div>
                                    <div class="padding-bottom-big">&nbsp;</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>

            <!-- two columns -->
            <tr>
                <td class="two-columns content">
                    <!--[if (gte mso 9)|(IE)]>
                    <table width="100%">
                    <tr>
                    <td width="50%" valign="top">
                    <![endif]-->
                    <div class="column">
                        <table width="100%" cellpadding="10" cellspacing="0">
                            <tr>
                                <td>
                                    <img width="270" src="https://deaddale.github.io/portfolio/email-templates/github/assets/images/2.jpg" style="width:100%;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="padding-bottom">&nbsp;</div>
                                    <div class="h2"><a href="#" target="_blank"><span>Значимость проблем очевидна</span></a></div>
                                    <div class="padding-bottom">&nbsp;</div>
                                    <div class="paragraph">опубликовано 12 декабря 2015</div>
                                    <div class="padding-bottom">&nbsp;</div>
                                    <div class="paragraph quote">Равным образом постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке соответствующий условий активизации.</div>
                                    <div class="padding-bottom">&nbsp;</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]>
                    </td><td width="50%" valign="top">
                    <![endif]-->
                    <div class="column">
                        <table width="100%" cellpadding="10" cellspacing="0">
                            <tr>
                                <td>
                                    <img src="https://deaddale.github.io/portfolio/email-templates/github/assets/images/1.jpg" style="width:100%;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="padding-bottom">&nbsp;</div>
                                    <div class="h2"><a href="#" target="_blank">Разнообразный и богатый опыт постоянный количественный</a></div>
                                    <div class="padding-bottom">&nbsp;</div>
                                    <div class="paragraph">опубликовано 15 декабря 2015</div>
                                    <div class="padding-bottom">&nbsp;</div>
                                    <div class="paragraph quote">Идейные соображения высшего порядка</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                </td>
            </tr>

            <!-- three columns -->
            <tr>
                <td class="three-columns content">
                    <!--[if (gte mso 9)|(IE)]>
                    <table width="100%">
                    <tr>
                    <td width="33%" valign="top">
                    <![endif]-->
                    <div class="column">
                        <table width="100%" cellpadding="10" cellspacing="0">
                            <tr>
                                <td>
                                    <table width="100%" cellpadding="10" cellspacing="0">
                                        <tr>
                                            <td class="paragraph">
                                                <div class="padding-bottom">&nbsp;</div>
                                                <div class="paragraph" style="text-align: center;">3 columns</div>
                                                <div class="padding-bottom">&nbsp;</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]>
                    </td><td width="33%" valign="top">
                    <![endif]-->
                    <div class="column">
                        <table width="100%" cellpadding="10" cellspacing="0">
                            <tr>
                                <td>
                                    <table width="100%" cellpadding="10" cellspacing="0">
                                        <tr>
                                            <td class="paragraph">
                                                <div class="padding-bottom">&nbsp;</div>
                                                <div class="paragraph" style="text-align: center;">3 columns</div>
                                                <div class="padding-bottom">&nbsp;</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]>
                    </td><td width="33%" valign="top">
                    <![endif]-->
                    <div class="column">
                        <table width="100%" cellpadding="10" cellspacing="0">
                            <tr>
                                <td>
                                    <table width="100%" cellpadding="10" cellspacing="0">
                                        <tr>
                                            <td class="paragraph">
                                                <div class="padding-bottom">&nbsp;</div>
                                                <div class="paragraph" style="text-align: center;">3 columns</div>
                                                <div class="padding-bottom">&nbsp;</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                </td>
            </tr>

            <!-- four columns -->
            <tr>
                <td class="four-columns content">
                    <!--[if (gte mso 9)|(IE)]>
                    <table width="100%">
                    <tr>
                    <td width="25%" valign="top">
                    <![endif]-->
                    <div class="column">
                        <div class="padding-bottom">&nbsp;</div>
                        <div class="paragraph" style="text-align: center;">4 колонки</div>
                        <div class="padding-bottom">&nbsp;</div>
                    </div>
                    <!--[if (gte mso 9)|(IE)]>
                    <table width="100%">
                    <tr>
                    <td width="25%" valign="top">
                    <![endif]-->
                    <div class="column">
                        <div class="padding-bottom">&nbsp;</div>
                        <div class="paragraph" style="text-align: center;">4 колонки</div>
                        <div class="padding-bottom">&nbsp;</div>
                    </div>
                    <!--[if (gte mso 9)|(IE)]>
                    <table width="100%">
                    <tr>
                    <td width="25%" valign="top">
                    <![endif]-->
                    <div class="column">
                        <div class="padding-bottom">&nbsp;</div>
                        <div class="paragraph" style="text-align: center;">4 колонки</div>
                        <div class="padding-bottom">&nbsp;</div>
                    </div>
                    <!--[if (gte mso 9)|(IE)]>
                    </td><td width="25%" valign="top">
                    <![endif]-->
                    <div class="column">
                        <div class="padding-bottom">&nbsp;</div>
                        <div class="paragraph" style="text-align: center;">4 колонки</div>
                        <div class="padding-bottom">&nbsp;</div>
                    </div>
                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                </td>
            </tr>
        </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </div>
