.cover
    .cover__container
        h1.cover__title
            span.cover__title-item
                | Меня зовут Михаил.
                br
                | Я&nbsp;front-end разработчик,
                br
                | проживающий в&nbsp;Твери.
            span.cover__title-item
                | Опыт 10&nbsp;лет. В&nbsp;настоящее время фрилансер.