.cover
    margin-top: 300px
    padding-bottom: 150px
    &__container
        @include glass
    &__title
        color: $color-white
        font: 70px/1.18 $font-title
        letter-spacing: -0.01em
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
    &__title-item
        margin: 0 0 50px
        &:last-child
            margin-bottom: 0