@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.icon-logo, .sidebar__logo {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/icons/icon-logo.svg");
  width: 242px;
  height: 63px; }

.icon-ruble, .category__item-price:after, .catalog__item-price:after, .product__price-text--big:after {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/icons/icon-ruble.png");
  width: 16.6px;
  height: 17.37px; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  background-color: white;
  padding: 0 0 52px;
  min-height: 100vh;
  height: 100%; }

@font-face {
  font-family: "Akrobat";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Akrobat_900.eot?") format("eot"), url("../fonts/Akrobat_900.woff2") format("woff2"), url("../fonts/Akrobat_900.woff") format("woff"), url("../fonts/Akrobat_900.svg#Akrobat") format("svg"), url("../fonts/Akrobat_900.ttf") format("truetype"); }

@font-face {
  font-family: "Akrobat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Akrobat_800.eot?") format("eot"), url("../fonts/Akrobat_800.woff2") format("woff2"), url("../fonts/Akrobat_800.woff") format("woff"), url("../fonts/Akrobat_800.svg#Akrobat") format("svg"), url("../fonts/Akrobat_800.ttf") format("truetype"); }

@font-face {
  font-family: "Akrobat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Akrobat_600.eot?") format("eot"), url("../fonts/Akrobat_600.woff2") format("woff2"), url("../fonts/Akrobat_600.woff") format("woff"), url("../fonts/Akrobat_600.svg#Akrobat") format("svg"), url("../fonts/Akrobat_600.ttf") format("truetype"); }

@font-face {
  font-family: "Akrobat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Akrobat_700.eot?") format("eot"), url("../fonts/Akrobat_700.woff2") format("woff2"), url("../fonts/Akrobat_700.woff") format("woff"), url("../fonts/Akrobat_700.svg#Akrobat") format("svg"), url("../fonts/Akrobat_700.ttf") format("truetype"); }

html {
  -webkit-font-smoothing: antialiased; }

body {
  font-family: Akrobat, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: black;
  text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility; }
  body ::-moz-selection {
    background: black;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-opacity: 1; }
  body ::selection {
    background: black;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-opacity: 1;
    -webkit-text-fill-color: white; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }
  p b {
    font-weight: bold; }
  p i {
    font-style: italic; }

ul,
ol {
  margin: 0;
  padding: 0; }
  ul li,
  ol li {
    margin: 0;
    padding: 0; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  user-select: none;
  user-select: none;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 3px black solid;
  padding: 0 0 3.5px;
  margin: 0;
  border-radius: 0;
  display: block;
  font-weight: normal;
  font-size: 23px;
  line-height: normal;
  font-family: "Arial", sans-serif;
  color: black;
  text-align: left;
  background: transparent;
  transition: all 0.3s ease; }
  input[type="email"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder {
    color: black;
    transition: all 0.3s ease; }
  input[type="email"]::-moz-placeholder,
  input[type="number"]::-moz-placeholder,
  input[type="search"]::-moz-placeholder,
  input[type="text"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder,
  input[type="url"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder {
    color: black;
    transition: all 0.3s ease; }
  input[type="email"]:-moz-placeholder,
  input[type="number"]:-moz-placeholder,
  input[type="search"]:-moz-placeholder,
  input[type="text"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder,
  input[type="url"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder {
    color: black;
    transition: all 0.3s ease; }
  input[type="email"]:-ms-input-placeholder,
  input[type="number"]:-ms-input-placeholder,
  input[type="search"]:-ms-input-placeholder,
  input[type="text"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder,
  input[type="url"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder {
    color: black;
    transition: all 0.3s ease; }
  input[type="email"]:focus::-webkit-input-placeholder,
  input[type="number"]:focus::-webkit-input-placeholder,
  input[type="search"]:focus::-webkit-input-placeholder,
  input[type="text"]:focus::-webkit-input-placeholder,
  input[type="tel"]:focus::-webkit-input-placeholder,
  input[type="url"]:focus::-webkit-input-placeholder,
  input[type="password"]:focus::-webkit-input-placeholder {
    color: transparent; }
  input[type="email"]:focus::-moz-placeholder,
  input[type="number"]:focus::-moz-placeholder,
  input[type="search"]:focus::-moz-placeholder,
  input[type="text"]:focus::-moz-placeholder,
  input[type="tel"]:focus::-moz-placeholder,
  input[type="url"]:focus::-moz-placeholder,
  input[type="password"]:focus::-moz-placeholder {
    color: transparent; }
  input[type="email"]:focus:-moz-placeholder,
  input[type="number"]:focus:-moz-placeholder,
  input[type="search"]:focus:-moz-placeholder,
  input[type="text"]:focus:-moz-placeholder,
  input[type="tel"]:focus:-moz-placeholder,
  input[type="url"]:focus:-moz-placeholder,
  input[type="password"]:focus:-moz-placeholder {
    color: transparent; }
  input[type="email"]:focus:-ms-input-placeholder,
  input[type="number"]:focus:-ms-input-placeholder,
  input[type="search"]:focus:-ms-input-placeholder,
  input[type="text"]:focus:-ms-input-placeholder,
  input[type="tel"]:focus:-ms-input-placeholder,
  input[type="url"]:focus:-ms-input-placeholder,
  input[type="password"]:focus:-ms-input-placeholder {
    color: transparent; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus {
    outline: none;
    color: black;
    border-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease; }

textarea {
  user-select: none;
  user-select: none;
  width: 100%;
  outline: none;
  border: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: black;
  display: block;
  font-weight: normal;
  font-size: 23px;
  line-height: normal;
  font-family: "Arial", sans-serif;
  text-align: left;
  text-transform: uppercase;
  padding: 10px 16px 9px 16px;
  margin: 0;
  border-radius: 0;
  resize: vertical;
  -webkit-appearance: none;
  background: transparent;
  transition: all 0.3s ease; }
  textarea::-webkit-input-placeholder {
    color: black;
    transition: all 0.3s ease; }
  textarea::-moz-placeholder {
    color: black;
    transition: all 0.3s ease; }
  textarea:-moz-placeholder {
    color: black;
    transition: all 0.3s ease; }
  textarea:-ms-input-placeholder {
    color: black;
    transition: all 0.3s ease; }
  textarea:focus::-webkit-input-placeholder {
    color: transparent; }
  textarea:focus::-moz-placeholder {
    color: transparent; }
  textarea:focus:-moz-placeholder {
    color: transparent; }
  textarea:focus:-ms-input-placeholder {
    color: transparent; }
  textarea:focus {
    outline: none;
    color: black;
    border-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease; }

label,
legend {
  user-select: none;
  display: block; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  user-select: none; }

select {
  user-select: none; }
  select option {
    user-select: none; }

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch; }

.sidebar {
  background: white; }
  .sidebar__logo {
    margin: 38px 136px 48px 47px; }
  .sidebar__nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 0 48px 39px; }
  .sidebar__nav-title {
    font: 800 26px/1.45 Akrobat, sans-serif;
    letter-spacing: 0.02em;
    color: black;
    margin: 0 0 17px; }
  .sidebar__nav-item {
    font: 600 22px/2 Akrobat, sans-serif;
    letter-spacing: 0.02em;
    color: black;
    text-decoration: none;
    transition: all 0.2s ease; }
    .sidebar__nav-item:hover, .sidebar__nav-item--active {
      color: #0281DC;
      font-weight: 900; }

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }

.header {
  background: #24205E;
  margin: 0 0 44px;
  width: 100%; }
  .header--indent-null {
    margin-bottom: 0; }
  .header__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 28px 40px; }
  .header__nav-item {
    font: 400 18px/1.1666666667 "Roboto", sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 28px 0 0;
    opacity: 1;
    transition: opacity 0.25s ease; }
    .header__nav-item:hover {
      opacity: 0.75; }
  .header__btn--white {
    user-select: none;
    display: inline-block;
    font-family: Akrobat, sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: none;
    color: black;
    width: 100%;
    height: auto;
    background: white;
    letter-spacing: 0.05em;
    border: none;
    line-height: 1;
    padding: 15.5px 0 15.5px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    transition: all 0.2s ease;
    max-width: 191px;
    margin: 0 0 0 auto; }
    .header__btn--white:disabled, .header__btn--white[disabled] {
      opacity: 0.5;
      cursor: default; }
      .header__btn--white:disabled:hover, .header__btn--white[disabled]:hover {
        opacity: 0.5; }
    .header__btn--white:hover {
      background: black;
      color: white;
      transition: all 0.2s ease; }
  .header__btn--blue {
    user-select: none;
    display: inline-block;
    font-family: Akrobat, sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-transform: none;
    color: white;
    width: 100%;
    height: auto;
    background: linear-gradient(112.76deg, #027ED9 20.41%, #02A9FC 90.01%);
    letter-spacing: 0.05em;
    border: none;
    line-height: 1;
    padding: 21px 0 21px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    transition: all 0.2s ease;
    max-width: 268px; }
    .header__btn--blue:disabled, .header__btn--blue[disabled] {
      opacity: 0.5;
      cursor: default; }
      .header__btn--blue:disabled:hover, .header__btn--blue[disabled]:hover {
        opacity: 0.5; }
    .header__btn--blue:hover {
      color: white;
      background: linear-gradient(112.76deg, #02A9FC 20.41%, #027ED9 90.01%);
      transition: all 0.2s ease; }
  .header__contacts {
    margin: 0 0 0 81px;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .header__contacts-item {
    margin: 0 0 0 76px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; }
    .header__contacts-item:first-child {
      margin-left: 0; }
  .header__contacts-text {
    font: 400 14px/1.1428571429 "Roboto", sans-serif;
    color: white;
    margin: 0 0 6px; }
  .header__contacts-link {
    font: 400 16px/1.1875 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: white;
    text-decoration: none;
    margin: 0 0 9px;
    opacity: 1;
    transition: opacity 0.25s ease; }
    .header__contacts-link:hover {
      opacity: 0.75; }
    .header__contacts-link:last-child {
      margin-bottom: 0; }
    .header__contacts-link--number {
      font: 800 24px/1.2083333333 Akrobat, sans-serif;
      letter-spacing: 0.02em;
      color: white;
      margin: 0 0 0 0; }

.cover {
  position: relative;
  width: 100%; }
  .cover__container {
    width: 100%;
    position: relative;
    z-index: 2; }
    .cover__container--top {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 28px 40px; }
    .cover__container--bottom {
      padding: 162px 40px 193px; }
  .cover__nav-item {
    font: 400 18px/1.1666666667 "Roboto", sans-serif;
    color: black;
    text-decoration: none;
    margin: 0 28px 0 0;
    opacity: 1;
    transition: opacity 0.25s ease; }
    .cover__nav-item:hover {
      opacity: 0.75; }
  .cover__btn--white {
    user-select: none;
    display: inline-block;
    font-family: Akrobat, sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: none;
    color: black;
    width: 100%;
    height: auto;
    background: white;
    letter-spacing: 0.05em;
    border: none;
    line-height: 1;
    padding: 15.5px 0 15.5px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    transition: all 0.2s ease;
    max-width: 191px;
    margin: 0 0 0 auto; }
    .cover__btn--white:disabled, .cover__btn--white[disabled] {
      opacity: 0.5;
      cursor: default; }
      .cover__btn--white:disabled:hover, .cover__btn--white[disabled]:hover {
        opacity: 0.5; }
    .cover__btn--white:hover {
      background: black;
      color: white;
      transition: all 0.2s ease; }
  .cover__btn--blue {
    user-select: none;
    display: inline-block;
    font-family: Akrobat, sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-transform: none;
    color: white;
    width: 100%;
    height: auto;
    background: linear-gradient(112.76deg, #027ED9 20.41%, #02A9FC 90.01%);
    letter-spacing: 0.05em;
    border: none;
    line-height: 1;
    padding: 21px 0 21px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    transition: all 0.2s ease;
    max-width: 268px; }
    .cover__btn--blue:disabled, .cover__btn--blue[disabled] {
      opacity: 0.5;
      cursor: default; }
      .cover__btn--blue:disabled:hover, .cover__btn--blue[disabled]:hover {
        opacity: 0.5; }
    .cover__btn--blue:hover {
      color: white;
      background: linear-gradient(112.76deg, #02A9FC 20.41%, #027ED9 90.01%);
      transition: all 0.2s ease; }
  .cover__contacts {
    margin: 0 0 0 81px;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .cover__contacts-item {
    margin: 0 0 0 76px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; }
    .cover__contacts-item:first-child {
      margin-left: 0; }
  .cover__contacts-text {
    font: 400 14px/1.1428571429 "Roboto", sans-serif;
    color: black;
    margin: 0 0 6px; }
  .cover__contacts-link {
    font: 400 16px/1.1875 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: black;
    text-decoration: none;
    margin: 0 0 9px;
    opacity: 1;
    transition: opacity 0.25s ease; }
    .cover__contacts-link:hover {
      opacity: 0.75; }
    .cover__contacts-link:last-child {
      margin-bottom: 0; }
    .cover__contacts-link--number {
      font: 800 24px/1.2083333333 Akrobat, sans-serif;
      letter-spacing: 0.02em;
      color: black;
      margin: 0 0 0 0; }
  .cover__title {
    font: 800 90px/1.2 Akrobat, sans-serif;
    letter-spacing: 0.02em;
    color: black;
    margin: 0 0 24px; }
  .cover__text {
    font: 400 22px/1.454 "Roboto", sans-serif;
    letter-spacing: 0.01em;
    color: black;
    margin: 0 0 48px; }
  .cover__player-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .cover__player {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    outline: none; }
    .cover__player::-webkit-media-controls {
      display: none !important; }

.descr {
  background: #24205E;
  position: relative;
  margin: 0 0 100px;
  z-index: 2;
  width: 100%; }
  .descr:after {
    content: '';
    display: block;
    background: #243D70;
    filter: blur(70px);
    border-radius: 7px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 87.02341137123746%;
    height: 14.180602006688963%;
    z-index: 1; }
  .descr__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 62px 70px;
    position: relative;
    z-index: 2; }
  .descr__item {
    width: 17.25752508361204%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; }
  .descr__item-title {
    font: 800 28px/1.2142857143 Akrobat, sans-serif;
    color: white;
    letter-spacing: 0.05em;
    margin: 0 0 19px;
    white-space: nowrap; }
  .descr__item-descr {
    font: 400 16px/1.4 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #F2F2F2; }

.category {
  padding: 0 0 60px;
  width: 100%; }
  .category__container {
    padding: 0 40px;
    width: 100%; }
  .category__title {
    font: 800 36px/1.1944444444 Akrobat, sans-serif;
    color: #1D1D1D;
    margin: 0 0 48px; }
    .category--with-descr .category__title {
      margin: 0 0 16px; }
  .category__descr {
    font: 400 18px/1.3888888889 "Roboto", sans-serif;
    color: #1D1D1D; }
    .category--with-descr .category__descr {
      margin: 0 0 53px; }
  .category__items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; }
  .category__item {
    width: 23.217115689381933%;
    margin: 0 2.377179080824089% 64px 0;
    position: relative; }
    .category__item:nth-child(4n+4) {
      margin-right: 0; }
  .category__item-label {
    border-radius: 0px 4px 0px 0px;
    font: bold 14px/1 Akrobat, sans-serif;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 28px; }
    .category__item-label--blue {
      background: #02A9FC; }
    .category__item-label--green {
      background: #00B646; }
    .category__item-label--red {
      background: #D95048; }
  .category__item-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px 4px 0 0;
    margin: 0 0 11px;
    background: #EDF2F5; }
  .category__item-title {
    font: 800 24px/1.4166666667 Akrobat, sans-serif;
    color: black;
    margin: 0 0 6px; }
  .category__item-descr {
    font: 400 14px/1.1428571429 "Roboto", sans-serif;
    color: #8B8B8B;
    margin: 0 0 12px; }
  .category__item-price {
    font: 800 24px/1.2083333333 Akrobat, sans-serif;
    color: black;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .category__item-price:after {
      content: '';
      margin: 0 0 0 3px; }

.delivery {
  padding: 69px 0;
  background: linear-gradient(105.94deg, #017DD8 14.45%, #01A8FB 86.58%);
  position: relative;
  margin: 0 0 100px;
  width: 100%; }
  .delivery--indent-shot {
    padding: 77px 0 144px;
    margin: 0 0 31px; }
  .delivery:after {
    content: '';
    display: block;
    width: 485px;
    height: 356.5px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    background: url("../img/delivery/1.png") center center no-repeat;
    background-size: contain; }
  .delivery__container {
    padding: 0 0 0 157px; }
    .delivery--indent-shot .delivery__container {
      padding-left: 40px; }
  .delivery__title {
    font: 800 36px/1.1944444444 Akrobat, sans-serif;
    letter-spacing: 0.02em;
    color: white;
    margin: 0 0 24px; }
  .delivery__descr {
    font: 400 18px/1.3333333333 "Roboto", sans-serif;
    letter-spacing: 0.01em;
    color: white;
    margin: 0 0 34px;
    width: 100%;
    max-width: 490px; }
  .delivery__btn {
    user-select: none;
    display: inline-block;
    font-family: Akrobat, sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: none;
    color: white;
    width: 100%;
    height: auto;
    background: #23205E;
    border: none;
    line-height: 1;
    padding: 14.5px 0 14.5px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    letter-spacing: 0.05em;
    transition: all 0.2s ease;
    max-width: 202px; }
    .delivery__btn:disabled, .delivery__btn[disabled] {
      opacity: 0.5;
      cursor: default; }
      .delivery__btn:disabled:hover, .delivery__btn[disabled]:hover {
        opacity: 0.5; }
    .delivery__btn:hover {
      color: white;
      background: #140D8C;
      transition: all 0.2s ease; }

.about-company {
  padding: 69px 0;
  background: linear-gradient(105.94deg, #017DD8 14.45%, #01A8FB 86.58%);
  position: relative;
  width: 100%; }
  .about-company:after {
    content: '';
    display: block;
    width: 534.16px;
    height: 359.87px;
    position: absolute;
    right: 36px;
    top: calc(50% - 22px);
    transform: translate3d(0, -50%, 0);
    background: url("../img/about-company/1.png") center center no-repeat;
    background-size: contain; }
  .about-company__container {
    padding: 0 0 0 157px; }
  .about-company__title {
    font: 800 36px/1.1944444444 Akrobat, sans-serif;
    letter-spacing: 0.02em;
    color: white;
    margin: 0 0 24px; }
  .about-company__descr {
    font: 400 18px/1.3333333333 "Roboto", sans-serif;
    letter-spacing: 0.01em;
    color: white;
    margin: 0 0 34px;
    width: 100%;
    max-width: 490px; }
  .about-company__btn {
    user-select: none;
    display: inline-block;
    font-family: Akrobat, sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: none;
    color: white;
    width: 100%;
    height: auto;
    background: #23205E;
    border: none;
    line-height: 1;
    padding: 14.5px 0 14.5px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    letter-spacing: 0.05em;
    transition: all 0.2s ease;
    max-width: 202px; }
    .about-company__btn:disabled, .about-company__btn[disabled] {
      opacity: 0.5;
      cursor: default; }
      .about-company__btn:disabled:hover, .about-company__btn[disabled]:hover {
        opacity: 0.5; }
    .about-company__btn:hover {
      color: white;
      background: #140D8C;
      transition: all 0.2s ease; }

.catalog {
  padding: 0 0 60px;
  width: 100%; }
  .catalog__container {
    padding: 0 40px;
    width: 100%; }
  .catalog__title {
    font: 800 36px/1.1944444444 Akrobat, sans-serif;
    color: #1D1D1D;
    margin: 0 0 48px; }
    .catalog--with-descr .catalog__title {
      margin: 0 0 16px; }
  .catalog__descr {
    font: 400 18px/1.3888888889 "Roboto", sans-serif;
    color: #1D1D1D; }
    .catalog--with-descr .catalog__descr {
      margin: 0 0 53px; }
  .catalog__items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; }
  .catalog__item {
    width: 23.217115689381933%;
    margin: 0 2.377179080824089% 64px 0;
    position: relative; }
    .catalog__item:nth-child(4n+4) {
      margin-right: 0; }
  .catalog__item-label {
    border-radius: 0px 4px 0px 0px;
    font: bold 14px/1 Akrobat, sans-serif;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 28px; }
    .catalog__item-label--blue {
      background: #02A9FC; }
    .catalog__item-label--green {
      background: #00B646; }
    .catalog__item-label--red {
      background: #D95048; }
  .catalog__item-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px 4px 0 0;
    margin: 0 0 11px;
    background: #EDF2F5; }
  .catalog__item-title {
    font: 800 24px/1.4166666667 Akrobat, sans-serif;
    color: black;
    margin: 0 0 6px; }
  .catalog__item-descr {
    font: 400 14px/1.1428571429 "Roboto", sans-serif;
    color: #8B8B8B;
    margin: 0 0 12px; }
  .catalog__item-price {
    font: 800 24px/1.2083333333 Akrobat, sans-serif;
    color: black;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .catalog__item-price:after {
      content: '';
      margin: 0 0 0 3px; }

.product {
  margin: 0 0 62px;
  padding: 0 20px 0 0; }
  .product__container {
    margin: 0 0 30px; }
    .product__container--flex {
      margin: 0 0 0;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      width: 100%; }
  .product__link-back {
    font: 400 14px/1.1428571429 "Roboto", sans-serif;
    color: #23205E;
    opacity: 1;
    transition: opacity 0.25s ease;
    text-decoration: none;
    margin: 0 0 2px; }
    .product__link-back:hover {
      opacity: 0.75; }
  .product__title {
    font: 800 42px/1.1904761905 Akrobat, sans-serif;
    color: #1D1D1D; }
  .product__col--left {
    position: relative;
    width: 40.029873039581777%;
    margin: 0 36px 0 0; }
  .product__col--right {
    width: 56.318480642804964%;
    max-width: 745px; }
  .product__item-label {
    border-radius: 0px 4px 0px 0px;
    font: bold 14px/1 Akrobat, sans-serif;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 28px; }
    .product__item-label--blue {
      background: #02A9FC; }
    .product__item-label--green {
      background: #00B646; }
    .product__item-label--red {
      background: #D95048; }
  .product__img {
    width: 100%;
    height: auto;
    display: block;
    background: #EDF2F5;
    border-radius: 8px 8px 0 0; }
  .product__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 46px; }
    .product__row:last-child {
      margin: 0 0 0; }
  .product__subtitle {
    font: 800 36px/1.1944444444 Akrobat, sans-serif;
    color: #1D1D1D; }
  .product__price {
    transform: translate3d(0, 27%, 0); }
  .product__price-text {
    font: 400 14px/1.1428571429 Akrobat, sans-serif;
    color: #757575; }
    .product__price-text--big {
      font: 800 36px/1.1944444444 Akrobat, sans-serif;
      color: black;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .product__price-text--big:after {
        content: '';
        width: 22.94px;
        height: 24px;
        margin: 0 0 0 3px; }
  .product__spec-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 24px; }
    .product__spec-item:last-child {
      margin: 0 0 0; }
  .product__spec-item-col--left {
    font: 500 14px/1.1428571429 "Roboto", sans-serif;
    color: #1D1D1D;
    width: 139px; }
  .product__spec-item-col--right {
    font: 400 14px/1.4285714286 "Roboto", sans-serif;
    color: #5D5D5D;
    width: 79.4074074074074%; }

.contacts {
  margin: 0 0 117px; }
  .contacts__container {
    padding: 0 20px 0 0; }
  .contacts__title {
    font: 800 40px/1.2 Akrobat, sans-serif;
    color: #1D1D1D;
    margin: 0 0 32px; }
  .contacts__info-row {
    margin: 0 0 28px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; }
    .contacts__info-row:last-child {
      margin: 0 0 0; }
    .contacts__info-row--big-indent {
      margin: 0 0 60px; }
  .contacts__info-col--left {
    font: 800 18px/1.388 Akrobat, sans-serif;
    color: black;
    width: 240px; }
  .contacts__info-col--right {
    font: 400 16px/1.5625 "Roboto", sans-serif;
    color: #1D1D1D;
    width: 100%;
    max-width: 1112px; }
  .contacts__info-text {
    margin: 0 0 16px; }
    .contacts__info-text:last-child {
      margin: 0 0 0; }
  .contacts__info-link {
    font: 400 16px/1 "Roboto", sans-serif;
    color: #1D1D1D;
    text-decoration: none;
    margin: 0 0 10px;
    display: inline-block;
    opacity: 1;
    transition: opacity 0.25s ease; }
    .contacts__info-link:hover {
      opacity: 0.75; }
    .contacts__info-link:last-child {
      margin: 0 0 0; }
    .contacts__info-link--selected {
      font: 700 16px/1.5625 Akrobat, sans-serif;
      color: #0197ED; }
  .contacts__map {
    width: 100%;
    max-width: 1112px;
    height: 30.416666666666667vw;
    max-width: 584px; }

.terms-of-delivery {
  margin: 0 0 130px; }
  .terms-of-delivery__container {
    padding: 0 40px;
    width: 100%;
    max-width: 931px; }
  .terms-of-delivery__title {
    font: 800 40px/1.2 Akrobat, sans-serif;
    color: #1D1D1D;
    margin: 0 0 22px; }
  .terms-of-delivery__descr {
    font: 400 16px/1.5 "Roboto", sans-serif;
    color: black;
    margin: 0 0 15px; }
    .terms-of-delivery__descr:last-child {
      margin: 0 0 0; }

.footer {
  padding: 36px 0 35px;
  background: #282828;
  width: 100%;
  margin: auto 0 0 0; }
  .footer__container {
    padding: 0 40px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch; }
  .footer__col {
    margin: 0 60px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .footer__col:last-child {
      margin-right: 0; }
    .footer__col--big-indent {
      padding-top: 36px; }
  .footer__title {
    font: 500 16px/1.1875 "Roboto", sans-serif;
    color: white;
    letter-spacing: 0.02em;
    margin: 0 0 17px; }
  .footer__text {
    font: 400 16px/1.5625 "Roboto", sans-serif;
    color: white;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; }
  .footer__link {
    font: 400 16px/1.5625 "Roboto", sans-serif;
    color: white;
    letter-spacing: 0.02em;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.25s ease; }
    .footer__link:hover {
      opacity: 0.75; }
  .footer__label {
    font: 400 16px/1.5625 "Roboto", sans-serif;
    color: white;
    letter-spacing: 0.02em; }

/*# sourceMappingURL=app-project.css.map */