nav.nav
    .nav__container.nav__container_top
        a.nav__item.nav__item_icon.nav__item_moikrug(href="https://moikrug.ru")
        a.nav__item.nav__item_icon.nav__item_github(href="https://github.com")
        a.nav__item.nav__item_icon.nav__item_email(href="mailto:frontend.dev.ru@gmail.com")
    .nav__container.nav__container_bottom
        .nav__item.nav__item_text Nemoloko
        .nav__item.nav__item_text Spacemarathon
        .nav__item.nav__item_text Варежкино